body {
    background-color: rgb(4, 34, 85);
    display: block;
}
p, h1, ul, li {
    color: white;
}
.menu {
    background-image: url(bg.jpg);
    background-size:cover;
    display: flex;
    gap: 20px;
}
img {
    width: 100%;
}
